<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>Order</h1>
    <form action="/order" method="post">
    <input name="order" type="text"/>
    <input type="submit" value="create"/>
    </form>
</body>
<html>